@media (max-width: 400px){
	.leftcontent{
		width: 100%;
	}

	.fixed-nav-bar{
		text-align: left;
	}
}

 /*Fixed Social Bar*/
.fixed-nav-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;
  width: 100%;
  height: 24px;
  background-color: black;
  text-align: center;
}

a{
	text-decoration: none;
	color: white;
}

ul.top-nav{
	display: inline;
	width:100%;
}

a.top-nav{

	text-decoration: none;
	color: white;
	}

a.top-nav:hover{
	color:grey;
	}

	a.mailLink{
		color: grey;
	}


li.top-nav{
 		display:inline;
 		color:white;
 		padding: 0px 40px 0px 0px;
 		font-family: Futura, sans-sarif;
 		text-transform: uppercase;
 		font-size: 17px;
 		font-weight: 800; 

 	}

html{
	font-size: 13px;
	background-color: white;
}


.sketch{
	width:550px;
	display: block;
	position: fixed;
	z-index: -100;
	margin: 0px 500px;
}

.subSketch{
	width:550px;
	display: block;
	position: fixed;
	z-index: -100;
	margin: 40px 500px;
	opacity: .9;
}


.leftcontent{
	width:400px;
	text-align: center;

}

h3{
	margin-top: 80px;
	width:400px;
	position: relative;
	float: center;
	font-size: 5em;
	font-family: League Gothic;
	text-transform: uppercase;
	margin-bottom: 30px;
	text-align: center;

}

h4{
		font-family: Futura;
		font-size: 1.2em;
		text-align: left;
		margin-left: 10px;
	


}

/*.ahr{
	margin-top: 80px;
	width:350px;
	position: relative;
	float: center;

}*/

p, h2{
	font-family: Andada;
}

h1{
	font-size: 1.5em;
	font-family: futura;
	text-transform: uppercase;
	}

h2{
font-size: 1.5em;
	font-family: futura;
	text-transform: uppercase;
	margin-top: 30px;

}	

h2.bigH2{
	font-size: 2.5em;
	text-decoration: underline;
}

h2.topH2{
	margin-top: 100px;
}

	p{
		font-size: 1em;
		text-align: left;
		margin-left: 10px;
	}

	.cheat{
		width:390px;
		height: auto;
		background-color: #ecf0f1;
		color: black;
		border-radius: 10px;
		padding: 10px 10px 10px 0px;


	}

	p.caption{
		font-family: gotham;
		text-align: center;
		margin-top: 80%;
		margin-left: 0px;
		font-size: 1em;
		color: white;
		padding-top: 5px;
		padding-bottom: 5px;
		background-color: black;
	}

	.pro1{
		width:190px;
		position: relative;
		display: block;
		height: 190px;
		border: solid 1px grey;
		float: left;
		background-image: url("img/fresh-text-banana-logo.png");
		background-color: white;

	}

	.pro1:hover{
		border: solid 1px black;
	}

	/*.pro1:after{
		 content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("img/fresh-text-banana-logo.png"); 
    width: 100%;
    height: 100%;
    opacity : 0.8;
    z-index: -1;
	}*/


	.pro2{
		width:190px;
				position: relative;
		height: 190px;
		background-color:white;
		border: solid 1px grey;
		
	float:right;
	background-image: url("img/urban-change-logo.png")
		
	}

	.pro2:hover{
		border: solid 1px black;
	}

	.pro3{
				position: relative;

		margin-top: 10px;
		width:190px;
		height: 190px;
		background-color:white;
		border: solid 1px grey;
		float:left;
			background-image: url("img/womens-ilab-mockup.png")

	}

	.pro4{
				position: relative;

		margin-top: 10px;
		width:190px;
		height: 190px;
		background-color:white;
		border: solid 1px grey;
			float:right;

		
		
	}

/*.centerimg img{
	display: block;
	width:50%;
	height:50%;
}*/

span{
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  /* edit: added z-index */
  z-index: 1;

  /* edit: fixes overlap error in IE7/8, 
     make sure you have an empty gif */
  background-image: url('empty.gif');
}  


/*FRESHWRAP*/

html.freshTextHtml{
	background-color: #C8F7C5;
}

img.freshImg1{
	display: block;
	margin-top: 0px;
	width: 400px;

}

.freshSketch{
	width:550px;
	display: block;
	position: fixed;
	z-index: -100;
	margin: 30px 500px;

}

/*womens ilab*/

html.ilabHtml{
	background-color: #C5EFF7;
}

html.sfchangeHtml{
	background-color:#F1A9A0;
}

html.contactHtml{
	background-color:#ffff7f;
}

footer{
	margin-top: 250px;
	padding-top: 200px;
	margin-bottom: 20px;
	text-align: left;
	font-style: italic;
	color: grey;
}

footer.subFooter{
	margin-top: 0px;
	padding-top: 100px;
	margin-bottom: 20px;
	text-align: left;
	font-style: italic;
	color: black;
}
mark.red {
    color:#E74C3C;
    background: none;
}